@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: poppins, sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #333;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 80px;
}

.btn {
	position: relative;
	width: 240px;
	height: 80px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.2);
	color: #e50914;
	text-decoration: none;
	border-radius: 10px;
	font-size: 2rem;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: 0.5s ease-in-out;
	overflow: hidden;
	transition-delay: 0.7s;
}

.btn:hover {
	filter: drop-shadow(0 0 10px #e50914) drop-shadow(0 0 30px #e50914);
	letter-spacing: 3px;
	color: white;
}

.btn span {
	position: absolute;
	top: 0;
	width: 2px;
	height: 100%;
	background: #e50914;
	pointer-events: none;
	transition: transform 0.2s ease-in-out;
	z-index: -1;
	transform: scaleY(0);
	transform-origin: bottom;
}

.btn:hover span {
	transform: scaleY(1);
	transform-origin: top;
}

.btn span:nth-child(even) {
	transform-origin: top;
}

.btn:hover span:nth-child(even) {
	transform-origin: bottom;
}
